
<form action="/payment/results">

<label for="apr"> APR</label>
<input id="apr" type="text" placeholder="E.g. 5.42" name="user_apr" >

<label for="nyr"> Number of years </label>
<input id="nyr" type="text" placeholder="How many years to repay?" name="user_years" >

<label for="pr"> Principal </label>
<input id="pr" type="text" placeholder="How much principal?" name="user_pv" >



<button> Calculate monthly payment </button>

</form>
