
<form action="/random/results">

<label for="ran_min"> Minimum </label>

<input id="ran_min" type = "text" placeholder ="E.g. 1.5" name="user_min">

<label for="ran_max"> Maximum </label>

<input id="ran_max" type = "text" placeholder = "E.g. 4.5" name="user_max">

<button> Pick random number</button>

</form>
