
<form action="/square_root/results">

<label for="root_num"> Enter a number </label>
<input id="root_num" type="text" placeholder="What number do you want" name="user_number" >

<button> Calculate square root </button>


</form>
