<h1> howdy <h1>

<form>
<label for= "giraff" > Enter a number </label>

 <input id="giraff" type = "text" placeholder = "What number do you want to square?" name= "results" >

<button>Calculate square</button>




</form>
