
<form action="/square/results">
<label for= "giraff" > Enter a number </label>

 <input id="giraff" type = "text" placeholder = "What number do you want to square?" name= "results" >

<button>Calculate square</button>




</form>

<a href= "https://google.com" > Calculate another square </a>
